# Streamlit
streamlit==1.33.0

# Data
pandas==2.1.1
Pillow

# PyTorch CPU version
torch==2.2.2+cpu
torchvision==0.19.2+cpu
torchaudio==2.2.2+cpu
-f https://download.pytorch.org/whl/cpu/torch_stable.html

# YOLO
ultralytics>=8.0.0
